.contact{
    width: 100%;
    background-color: #1c1d2c;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}
.contactContainer{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.contactContainerLeft{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}
.contactContainerLeft h1{
    font-size: 3rem;
    width: 50px;
    color: white;
}
.contactContainerLeft p{
    width: 400px;
    color: #ffffffc7;
}
.contactContainerRight{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}
.contactInfo{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #2a2c42;
    width: 100%;
    border: 1px #171925 solid;
    color:#ffffffc7;
    border-radius: 6px;
}
.contactInfo h2{
    transition: color 300ms;
}
.contactInfo:hover{
    color: #d44e4b;
}
@media(max-width: 890px){
    .contactContainer{
        flex-direction: column;
        align-items: center;
    }
    .contactContainerLeft{
        width: 100%;
        align-items: center;
        flex-direction: row;
        padding: 2rem 0;
    }
    .contactContainerLeft p{
        width: 300px;
    }
    .contactContainerLeft h1{
        width: 300px;
    }
    .contactContainerRight{
        width: 100%;
    }
}