.projects {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.containerTitle h1 {
  color: white;
  font-size: 2.5rem;
  width: fit-content;
  border-bottom: 2px #d44e4b solid;
  margin-top: 2rem;
}
.projectsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 8px;
  width: 90%;
  margin: 2rem 0;
  height: fit-content;
}
.grid1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.grid2 {
  grid-column-start: 3;
  grid-column-end: 5;
}
.grid3 {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 5;
}
@media (max-width: 890px) {
  .projectsGrid {
    display: flex;
    overflow-x: scroll;
    padding: 2rem 0;
    gap: 16px;
  }
}
